html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --wht: rgb(229, 229, 229);
    --blc: rgb(0, 0, 0);
    --blu: rgb(3, 3, 255);
    --gry: rgb(66, 65, 65);
    --pnk: rgb(247, 77, 208);
    --vio: rebeccapurple;
    --grn: rgb(1, 144, 1);
}

                    /* navbar starting form here */
#navbar{
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--blc);
    z-index: 1;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 64px;
    height: 43px;
    margin-left: 5px;
    background-image: url('../images/slogo.png');
    background-size: cover;
}
                    /*MENU ITEMS STARTTING FROM HERE*/
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}
#menu>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}
#menu>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}
#menu>ul>li:hover{
    background-color: var(--gry);
}
#menu>ul>li>a{
    text-decoration: none;
    color: var(--wht);
    font-family: "apercu",sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.checkbtn{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    order: 1;
}
#check{
    display: none;
}
#check:checked ~ #menu{
    display: flex;
  }
#social{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
    overflow: hidden;
    /* background-color: green; */
}
#social>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#social>ul>li{
    margin: 0px 5px;
    padding: 7px 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .5s;
}
#social>ul>li:hover{
    background-color: var(--gry);
}
#social>ul>li>a{
    color: var(--wht);
    font-size: 1.3rem;
}
					/* blog page css*/




/* interface is starting */

.bgimg{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}
.bgimg:nth-child(1){
    margin-top: 40px;
}
.bgimg>img{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;
    filter: brightness(.5);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    width: 100%;
    overflow: hidden;
    font-family: "apercu",sans-serif;
    line-height: 25px;
    background-color: rgb(0 0 0 / 56%);
    z-index: 10;
}
.left{
    width: 170px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.left>img{
    width: 70;
    height: 70px;
}
.right{
    width: 70%;
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}
.right>h5{
    margin: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.cl{
    cursor: pointer;
    color: var(--grn);
}
.cl:hover{
    color: var(--blu);
}




	/*media for nav bar and main interface*/

@media screen and (max-device-width: 319px){
	#logo{
		width: 55px;
		height: 40px;
	} 
	.checkbtn{
		display: block;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
	#social{
		display: none;
	}
	#bgimg{
		width: 100%;
		height: 70vh;
	}
	.dia{
		width: 100%;
		overflow: hidden;
	}
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px){
	.checkbtn{
		display: block;
	}
	#logo{
		width: 65px;
		height: 45px;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
	#social{
		display: none;
	}
	#bgimg{
		width: 100%;
		height: 80vh;
	}
	.dia{
		width: 100%;
		overflow: hidden;
	}
}
@media screen and (min-device-width: 481px) and (max-device-width: 602px){
	.checkbtn{
		display: block;
	}
	#logo{
		width: 65px;
		height: 45px;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
	#social{
		display: none;
	}
	#bgimg{
		width: 70%;
		height: 90vh;
	}
	.dia{
		width: 100%;
		overflow: hidden;
	}	
}	
@media screen and (min-device-width: 603px) and (max-device-width: 768px){
	#menu>ul>li{
		padding: 0px 5px;
	}
	#logo{
		width: 65px;
		height: 45px;
	}
	#bgimg{
		width: 50%;
		height: 100vh;
	}
	#social{
		display: none;
	}
	.dia{
		width: 50%;
		overflow: hidden;
	}	
}	
